<div>

    <div class="container, home">

        <div class="data">
            <p class="next">Next game: {{gameDate | date:'MMM dd, yyyy HH:mm'}}</p>
            <p class="errorMsg">{{errorMsg}}</p>

            <div ng-show="currentUser">
                <span class="name">Welcome {{currentUser.name}}</span>

                <p>Are you playing?</p>
                <button type="button" class="yes play" ng-click="playing('Yes')">Yes</button>
                <button type="button" class="no play" ng-click="playing('No')">No</button>
                <button type="button" class="maybe play" ng-click="playing('Maybe')">Maybe</button>

            </div>

            <p>Total: Yes: {{playersYes}}, No: {{playersNo}}, Maybe: {{playersMaybe}}</p>
            <span ng-show="gameState" class="gameState">Game On!</span>
        </div>
        <div id="placeholder"></div>
        <div>
        <table class="gameTable">
            <tr class="header">
                <th class="w3-theme-l2 name">Name</th>
                <th class="w3-theme-l2">Status</th>
            </tr>
            <tbody ng-repeat="user in users">
            <tr>
                <td class="tableName">{{user.name}}</td>
                <td class="state"
                    ng-class="{yes: user.state == 'Yes', no: user.state == 'No', maybe: user.state == 'Maybe'}">
                    {{user.state}}
                </td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>


</div>
