<div ng-app="myApp" ng-controller="loginCtrl" ng-submit="login()">
  <p class="container">Login:</p>

  <form>
    <div class="container">
      <label><b>Email</b></label>
      <input type="email" placeholder="Enter Email" ng-model="user.email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" ng-model="user.password" required>

      <p class="errorMsg">{{errorMsg}}</p>
      <label><input type="checkbox" checked="checked" ng-model="user.remember"></label> Remember me

      <div class="clearfix">
        <button type="button" class="cancelbtn" ng-click="cancel()">Cancel</button>
        <button type="submit" class="loginBtn">Login</button>
      </div>
    </div>
  </form>

</div>